body{
    background-color: rgb(1, 1, 115);
}



.quote{
    font-family: "Libre Baskerville", serif;
    color: aliceblue;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 150px;

}

img{
    width: 100%;
    border: 5px solid whitesmoke; 
}